.height {
  @media (min-width: 300px) and (max-width: 699px) {
    height: 40% ;
  }
  @media (min-width: 700px) and (max-width: 1399px){
    height: 70% ;
  }
  @media (min-width: 1400px) and (max-width: 2000px) {
    height: 70% ;
  }
}
