<div class="container container-centralized header" #container *ngIf="listaBooks.length">
  <div class="row">
    <div class="offset-xl-4 col-xl-4 col-lg-4 offset-lg-4 col-md-12 col-sm-12 col-12" #home>
      <div class="card mb-2" *ngFor="let aux of listaBooks; index as i">
        <div class="card-body">
          <h5 class="card-title text-secondary font-weight-bold clearfix col-name" title="{{aux?.volumeInfo?.title}}">
            {{aux?.volumeInfo?.title}}
            <span class="ml-2 badge badge-success" [ngClass]="{'badge-info': (aux?.volumeInfo?.averageRating <= 6), 'badge-danger' : (aux?.volumeInfo?.averageRating < 5)}">{{aux?.volumeInfo?.averageRating}}</span>
            <!-- <span class="float-right" (click)="setBooksFavorires(aux)" title="click para favoritar ">
              <em class="" [ngClass]="[filterFill(aux)]" alt="Favorito"></em>
            </span> -->
            <span class="float-right" (click)="setBooksFavorires(aux)" title="click para favoritar ">
              <em class="" [ngClass]="[filterFill(aux)]" alt="Favorito"></em>
            </span>
          </h5>
          <p class="card-text">{{aux?.volumeInfo?.description}}</p>
        </div>
        <div class="card-footer text-muted text-center" >
          Autores-
          <span *ngFor="let item of aux?.volumeInfo?.authors" title="Autores {{item}}">
            {{item}},
          </span>
        </div>
      </div>
    </div>
    <div class="offset-xl-4 col-xl-4 col-lg-4 offset-lg-4 col-md-12 col-sm-12 col-12 text-center" title="click para proxima pagina">
      <button class="btn btn-outline-secondary" (click)="nextPage()">+ next page</button>
    </div>
    <div class="offset-xl-4 col-xl-4 col-lg-4 offset-lg-4 col-md-12 col-sm-12 col-12">
      <app-messenger-error [msg]="error" [type]="typeError"></app-messenger-error>
    </div>
  </div>
</div>
