<div class="container-fluid header">
    <div class="row">
        <div class="offset-4 col-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 base-copy-2">
                  <div class="row">
                    <div class="col-12  text-center">
                      <div class="text-temp h1">13</div>
                    </div>
                  </div>
                </div>
                <div class="col-4 mx-3">
                  <div class="row">
                    <div class="col-12 titulo-city">
                      Novo hamburgo
                    </div>
                    <div class="col-12 mx">
                      Máx
                      <span class=" ">
                        19.1
                      </span>
                    </div>
                    <div class="col-12 mn">
                      Min
                      <span class=" ">
                        13.1
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-4">

                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
