<div class="container-fluid header" *ngIf="dados.length">
    <div class="row">
        <div class="offset-4 col-4">
          <div class="card" *ngFor="let aux of dados; index as i" (click)="nextDays(aux.id)">
            <div class="card-body">
              <div class="row">

                <div class="col-3 base-copy-2">
                  <div class="row">
                    <div class="col-12  text-center">
                      <div class="text-temp h1">13</div>
                    </div>
                  </div>
                </div>

                <div class="col-5">
                  <div class="row">
                    <div class="col-12 titulo-city">
                     {{aux?.name}}
                     <img src="{{urlContry(aux.sys.country)}}" alt="">
                    </div>
                    <div class="col-12 mx">
                      Máx
                      <span class=" ">
                        {{aux.main.temp_max}}
                      </span>
                    </div>
                    <div class="col-12 mn">
                      Min
                      <span class=" ">
                        {{aux.main.temp_min}}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-3 align-self-center">
                  <div class="row">
                    <div class="col-12 text-center" *ngFor="let item of aux.weather">
                      <div>
                        <img src="{{urlTemp(item.icon)}}" alt="">
                      </div>
                      <div class="text-temp-icon">
                        {{item.description }}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>
</div>
