.header {
  margin-top: -70px;
}
.base-copy-2 {
  width: 200px;
  height: 138px;
  margin: 0 0 0 20px;
  padding: 41px 47px 40px;
  border-radius: 4px;
  border: solid 1px #f0f0f0;
  background-color: #f0f0f0;
}
.text-temp{
  opacity: 0.75;
  font-family: Roboto;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3c3c3c;
}

.titulo-city {
  width: 152px;
  height: 28px;
  margin: 16px 8px 16px 40px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #39a3db;
}





.mx {
  width: 27px;
  height: 16px;
  margin: 19px 46px 8px 40px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3c3c;
  span {
    width: 53px;
    height: 19px;
    margin: 16px 34px 8px 46px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b30000;
  }
}
.mn {
  width: 24px;
  height: 16px;
  margin: 11px 49px 32px 40px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3c3c;
  span {
    width: 53px;
    height: 19px;
    margin: 8px 34px 32px 46px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a90e2;
  }
}
