@import "variables";
.card {
  border: 1px solid #e7e7e7;
  transition: 0.3s;
  &.card-impar {
    background-color: darken(#efefef, 10%);
  }
  &.card-par {
    background-color: #efefef;
  }
  &.card-even-custom {
    border: 1px solid #e7e7e7!important;
  }
  &.card-odd {
    background-color: #efefef;
  }
  &.card-odd-custom {
    background-color: #f7f7f7!important;
    border: 1px solid #fefefe!important;
  }
  &.card-no-border {
    border: none;
  }
  &.card-no-radius {
    border-radius: 0;
    &-bottom {
      border-radius: 0.5rem 0.5rem 0 0;
    }
    &-top {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
  &.card-no-shadow {
    box-shadow: none;
  }
  &.card-custom-border {
    border: 1px solid #ececec;
    border-radius: 0.5rem;
  }
  &.card-highlight {
    border-left: 3px solid red;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.4);
  }
  &.card-em-processamento {
    background-color: #e8d2c4;
  }
  &.card-cancelado-estornado {
    background-color: #f5e2d0; //#f29549;
  }
  &.card-list-hover:hover {
    // background-color: #ff9999!important;
    // background-color: #b3fff0!important;
    -webkit-transform: scale(1.01, 1);
    -ms-transform: scale(1.01, 1);
    -o-transform: scale(1.01, 1);
    transform: scale(1.01, 1);
    z-index: 100;
  }

  .ngx-charts-outer {
    margin: 0 auto;
  }
  &.card-border-bottom {
    &-primary {
      border-bottom: 2px solid $Vermelho;
    }
    &-secondary {
      border-bottom: 2px solid $Roxo;
    }
  }
  &.card-light-gray {
    border: 1px solid #e8e8e8;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
  }
}
.card-body {
  padding: 15px;
  &.odd {
    background-color: #efefef;
  }

  &.produtos-servicos {
    padding-bottom: 10px;
    padding-top: 40px;
  }
}
.card .card-title,
.card .card-title:not(.period-title) {
  padding-bottom: 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #e7e7e7;
  // color: ;
  font-size: 18px;
  line-height: 20px;
  vertical-align: middle;

  .ic {
    display: inline-block;
    width: 24px;
    height: 20px;
    padding: 0;
    margin: 0 2px 0 0;
    background-size: auto 100%;
    vertical-align: middle;
  }
}
.card-subtitle{
  color: $cinza-light;
}

.card-title-filter{
  position: relative;
  padding-right: 120px;

  @media (max-width: 1100px) {
    padding-right: 0;
  }

  .date-picker-no-margin{
    position: absolute;
    top: -5px;
    right: 0;

    @media (max-width: 1100px) {
      width: 100%;
      margin-top: 15px;
      position: relative;
      top: auto;
      right: auto;
      clear: both;
      float: left !important;
    }

    .dropdown {
      margin: 0 !important;
    }
  }
}

.card-cinza {
  background-color: $cinza-extra-light;
}
.card-hover {
  cursor: pointer;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 100;
  }
}

.card-special-padding-left-mobile {
  @media (max-width: 1339px) {
    padding-left: 32px;
  }
}

.col-fixed-icon-left {
  padding-left: 65px;
  position: relative;

  > .ic:first-child {
    display: block;
    width: 44px;
    height: 35px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3px;
    left: 10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    &.ic-antecipacao-auto,
    &.ic-antecipacao-auto-desabilitado {
      height: 35px;
    }
  }
  .bandeira-detalhe{
    height: 40x !important;
    width: 55% !important;
  }
  .ic.contratar {
    background-size: auto 100%;
  }
  .ic.banco{
    background-size: auto 100%;
    display: inline-block !important;
  }
}

.col-fixed-icon-right {
  padding-right: 45px;
  position: relative;

  > .ic:last-child {
    display: block;
    width: 16px;
    height: 20px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    left: auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.remove-margin-mobile {
  @media (max-width: 991px) {
    margin: 0 !important;
  }
}

.card-list-table {
  .col-static-position {
    position: static;
  }

  .card-table-responsive-label {
    display: none;
    padding-bottom: 10px;
    font-weight: bold;
  }

  &.card-list-table-collapse {
    @media (max-width: 767px) {
      margin-left: 0;

      .card-body {
        padding: 10px 35px 10px 10px !important;
      }
    }

    .card-table-responsive-label {
      padding: 10px 0 5px;
    }
  }

  @media (max-width: 991px) {
    padding-right: 35px;
    position: relative;

    .card-body {
      padding-right: 0 !important;
    }

    .card-table-responsive-label {
      display: block;
      line-height: 1.5;
    }

    .mobile-padding-top-label {
      padding-top: 0.25rem;
    }

    .row {
      margin: 0 -5px;

      // > div:not(.col-status){
      //   padding: 0 5px !important;    
      //   text-align: left !important;
      //   margin: 4px 0 !important;
      // }

      .col-sm-6 {
        width: 50%;
      }

      .col-sm-2 {
        width: 20%;
      }

      .col-sm-10 {
        width: 80%;
      }
    }

    .col-fixed-icons {
      width: 50px;
      position: absolute !important;
      top: -2px;
      right: 1px;
      z-index: 1;
    }

    .ic.ic-info {
      display: block;
      width: 18px;
      height: 35px;
      margin: 0 auto;
    }

    .ic.ic-ticketComprovante {
      display: block;
      width: 30px;
      height: 27px;
      padding-bottom: 15px;
      margin: 0 auto;
    }

    &.card-list-table-collapse {
      .col-fixed-icons {
        right: -38px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-right: 0;

    .col-mobile-margin-bottom {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    div {
      font-size: 12px ;
    }

    .row {
      > div {
        padding: 0 5px ;    
        margin: 0 !important;
      }
      > div.col-remove-padding-right-mobile {
        padding-right: 0 !important;
      }
    }

    .ic-visa.ic-bandeiras {
      width: auto;
    }

    .col-fixed-icons {
      width: 50px !important;
      position: absolute !important;
      top: 22px;
      right: 0px;
      z-index: 1;
      &.que-recebi {
        top: 15px;
      }
    }
    .col-bandeiras {
      text-align: center;
    }
    .col-hora {
      text-align: center !important;
    }
    .col-valor {
      text-align: right !important;
    }
  }
}

.desktop-table-header {
  background: $bg-cinza;
  padding: 10px 0 !important;
  margin-bottom: 10px;
  border-radius: 12px 12px 0 0 !important;
  
  @media (max-width: 991px) {
    display: none;
  }
}

.table-header-status {
  text-indent: -23px;
}

.mark-left {
  // box-shadow: 0px 0px 4px 3px #CCC;
  border-left: 1px solid $Vermelho !important;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  padding-bottom: 1px;
}

@media (max-width: 991px) {
  .hide-on-mobile {
    display: none;
  }

  .card-text-mobile-smaller,
  .card-text-mobile-smaller div {
    font-size: 12px !important;
  }

  .col-remove-padding-on-mobile {
    div:not(:first-child) {
      padding-left: 0;
    }
  }
}

.card-disabled {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: not-allowed;
}

.card-footer {
  margin-top: 15px;
  padding: 15px 0 0;
  border-top: 1px solid #e7e7e7;
  background: none;
}

.card-alternatly-background {
  > .row:nth-child(even) {
    background: #e7e7e7;
  }
}

@media (min-width: 768px) {
  .col-right-border {
    border-right: 1px solid #eee;
  }
}
