@import "variables";
.card {
  border: 1px solid #e7e7e7;
  transition: 0.3s;

  &.card-odd {
    background-color: #efefef;
  }


}
.card-body {
  padding: 15px;
  &.odd {
    background-color: #efefef;
  }


}





.card-hover {
  cursor: pointer;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 100;
  }
}

.card-special-padding-left-mobile {
  @media (max-width: 1339px) {
    padding-left: 32px;
  }
}

.card-disabled {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: not-allowed;
}

.card-footer {
  margin-top: 15px;
  padding: 15px 0 0;
  border-top: 1px solid #e7e7e7;
  background: none;
}



