@import "variables";

.form-control {
    height: auto;
    padding: 15px;
    font-size: 14px;
    color: #222222;
    border-radius: 0;
    background: #FDFDFD;
    border: 1px solid #312BC6 !important;
    cursor: pointer;
  }
  .custom-select {
      height: auto;
      padding: 15px;
      font-size: 14px;
      cursor: pointer;
      font-weight: 400;
      color: #222222;
      background-color: #FDFDFD;
      border: 1px solid #312BC6 !important;
    }
    
    .custom-control-input:checked~.custom-control-label::before {
      border-color: #E91E63 !important;
      background-color: #E91E63 !important;
    }
    
    .custom-control-input:focus~.custom-control-label::before {
      box-shadow: none;
    }
    
    .custom-control-label {
      cursor: pointer;
    }
    
    .error:focus,
    .error {
      border-color: #E91E63 !important;
      color: #E91E63 !important;
    }
    
    .invalid-feedback {
      color: #E91E63 !important;
    }
    