@import "variables";

.ic{
    margin: 2px;
    &-ferramenta{
        background-image: url('/assets/lista.svg');
        background-position: center;
        background-repeat: no-repeat;
        padding: 50px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block;
    }
    &-calendario{
        background-image: url('/assets/calendario.svg');
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    &-conta{
        background-image: url('/assets/conta.svg');
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    &-dinheiro{
        background-image: url('/assets/dinheiro.svg');
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    &-bag{
        background-image: url('/assets/bag.svg');
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-size: 30px;
    }
    &-update{
      background-image: url('/assets/bootstrap-icons-1.2.0/pencil.svg');
      background-position: center;
      background-repeat: no-repeat;
      padding: 8px;
      cursor: pointer;
      display: inline;
  }
  &-trash{
    background-image: url('/assets/excluir.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    cursor: pointer;
    background-size: 20px;
    display: block;
  }
  &-movie{
    background-image: url('/assets/bootstrap-icons-1.2.0/camera-reels-fill.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
    cursor: pointer;
    display: inline;
}
}
