<div class="row">
  <div class="col-12">
    <form class="form-inline">
      <div class="form-group hidden">
        <div class="input-group">
          <input name="datepicker"
                  class="form-control"
                  ngbDatepicker
                  #datepicker="ngbDatepicker"
                  [autoClose]="'outside'"
                  (dateSelect)="onDateSelection($event)"
                  [displayMonths]="2"
                  [dayTemplate]="t"
                  outsideDays="hidden"
                  [startDate]="fromDate!"
                  maxlength="10"
                  >
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input #dpFromDate
                  class="form-control" placeholder="DD/MM/YYYY"
                  name="dpFromDate"
                  [value]="formatter.format(fromDate)"
                  (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                  maxlength="10"
                  mask="00/00/0000"
                  required
                  >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
              <i class="ic-calendario"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input #dpToDate
                  class="form-control" placeholder="DD/MM/YYYY"
                  name="dpToDate"
                  [value]="formatter.format(toDate)"
                  (input)="toDate = validateInput(toDate, dpToDate.value)"
                  maxlength="10"
                  mask="00/00/0000"
                  required
                  >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
              <i class="ic-calendario"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
