.tamanho {
  height: 500px;
}

.remove {
  @media (max-width: 720px) {
    display: none;
  }
}

.card{
  height: 950px;
  &.fix {
    @media (max-width: 500px) {
      height: auto !important;
      max-width: 290px;
    }
  }
}
