<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 d-flex d-flex d-sm-flex d-md-flex d-xl-none d-lg-none">
      <app-list-detail [movie]="movie"></app-list-detail>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-12">
      <div class="text-dar font-weight-bold h4">Conheça</div>
      <div class="card mb-2 fix" *ngFor="let aux of listRecomendation[0]; index as i;">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{aux.poster_path}}" alt="">
        <div class="card-body">
          <h5 class="card-title">
            {{aux?.title}}
            <span class="ml-2 badge badge-success" [ngClass]="{'badge-info': (aux?.vote_average <= 6), 'badge-danger' : (aux?.vote_average < 5)}">{{aux?.vote_average}}</span>
          </h5>
          <div class="row text-center">
            <div class="col-12">
              <p class="card-text">{{aux?.overview}}</p>
              <button class="btn btn-outline-primary btn-sm" (click)="redirect(aux?.id)" *ngIf="aux?.id">Ver mais</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 d-none d-sm-none d-md-none d-xl-flex d-lg-flex remove ">
      <app-list-detail [movie]="movie"></app-list-detail>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-12">
      <div class="text-dar font-weight-bold h4 remove">Conheça</div>
      <div class="card mb-2 fix" *ngFor="let aux of listRecomendation[1]; index as i;">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{aux.poster_path}}" alt="">
        <div class="card-body">
          <h5 class="card-title">
            {{aux?.title}}
            <span class="ml-2 badge badge-success" [ngClass]="{'badge-info': (aux?.vote_average <= 6), 'badge-danger' : (aux?.vote_average < 5)}">{{aux?.vote_average}}</span>
          </h5>
          <div class="row">
            <div class="col-12 text-center">
              <p class="card-text">{{aux?.overview}}</p>
              <button class="btn btn-outline-primary btn-sm" (click)="redirect(aux?.id)" *ngIf="aux?.id">Ver mais</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
