<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="" width="70" height="70">
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/movies']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/financeiro/adicionar-empresa']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
            Empresas
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/financeiro/adicionar-modelo']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
            Adicionar Modelo
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/financeiro/list-producao']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
            Produção
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
            Dashboard
          </a>
        </li>
      </ul>
      <form  >
        <button class="btn btn-primary float-right " (click)="abri()" [hidden]="open">
          <em class="ic-search"></em>
        </button>
        <div class="input-group input-bar-slide pt-2"  [hidden]="!open">
          <input #search  type="text" class="form-control border-left-0 border-top-0 border-right-0 search-input" [(ngModel)]="model" [ngbTypeahead]="searchTeste" [resultFormatter]="formatter" />
          <!-- <input
          #search
          type="search"
          class="form-control border-left-0 border-top-0 border-right-0 search-input"
          autofocus
          formControlName="search"
          (blur)="search()"
          > -->
          <span class="input-group-append" (click)="hideSearch()">
            <div class="input-group-text bg-transparent border-left-0 border-top-0 border-right-0 text-primary px-0">
              <em class="ic-close mt-4"></em>
            </div>
            <span class="bar"></span>
          </span>
        </div >

      </form>
    </div>
  </div>
</nav>
