<div class="container container-centralized" #container>
  <div class="row">
    <div class="col-12 rectangle ">
      <div class="row mb-5">
        <div class="col-6 icon-text ion-android-arrow-back text-left mt-2 cursor-pointer" (click)="back()">
        </div>
        <div class="col-6 mt-2">
          <em class="ic-heart fill float-right" (click)="viewFavorites()" *ngIf="favoritos.length"></em>
        </div>
        <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-5 col-md-12 col-sm-12 col-12 text-center">
          <label class="title">
            which book do you want to read today?</label>
          <div class="input-group mb-3">
            <input
              id="typeahead-format"
              type="text"
              class=" form-control "
              [ngbTypeahead]="search"
              [resultFormatter]="formatter"
              placeholder="What do you want to read?"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <em class="ic-search"></em>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
