/* You can add global styles to this file, and also import other style files */
@import "theme/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";
@import '~bootstrap/dist/css/bootstrap';

@import "~bootstrap/scss/bootstrap";

@import "theme/card";
@import "theme/button";
@import "theme/text";
@import "theme/icons";
@import "theme/form";
body{
    width: 100%;
    background-color: #f0f0f0;
    font-family:'Montserrat' !important;
    @font-face {
      font-family: "Montserrat";
      src: url("./assets/fonts/Montserrat-Regular.ttf") format("ttf"),
    }
}


.container-centralized {
    max-width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
    @media (max-width: 2560px) {
      max-width: 2500px;
    }
    @media (max-width: 1440px) {
      max-width: 1400px;
    }
    @media (max-width: 1360px) {
      max-width: 1300px;
    }
}
.badge {
  height: 20px;
  width: 50px;
  border-radius: 15px;
}

.btn-fixed {
  z-index: 4;
  position: fixed;
  right: 200px;
  bottom: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $Roxo;

  @media (max-width: 760px) {
    bottom: 15px;
  }
  a {
    display: block;
  }
}

html {
  scroll-behavior: smooth;
}
